<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
<%= link_to "Cancel", restaurant_path(@restaurant), class: "btn btn-secondary m-2 mb-5 py-0" %>
